ul.breadcrumb {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  margin: 0.3rem;
}

ul.breadcrumb li{  
  background: $base-background-color;
  border-radius: 0;

  text-decoration: none;
  padding: 0.3rem 1rem;
  margin: 0.3rem;
}
