@font-face {
    font-family: mplus-light; /* Гарнитура шрифта */
    src: url(../fonts/mplus/mplus-1c-light.ttf); /* Для IE5-8 */
    src: local(mplus-light), url(../fonts/mplus/mplus-1c-light.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: mplus-black; /* Гарнитура шрифта */
    src: url(../fonts/mplus/mplus-1c-black.ttf); /* Для IE5-8 */
    src: local(mplus-black), url(../fonts/mplus/mplus-1c-black.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: mplus-bold; /* Гарнитура шрифта */
    src: url(../fonts/mplus/mplus-1c-bold.ttf); /* Для IE5-8 */
    src: local(mplus-bold), url(../fonts/mplus/mplus-1c-bold.ttf); /* Для остальных браузеров */
   }

@font-face {
    font-family: mplus-medium; /* Гарнитура шрифта */
    src: url(../fonts/mplus/mplus-1c-medium.ttf); /* Для IE5-8 */
    src: local(mplus-medium), url(../fonts/mplus/mplus-1c-medium.ttf); /* Для остальных браузеров */
   }
