* {
  box-sizing: border-box;
}

/* 1- positionning the 2 divs */
form {
	width: 50%;
    min-width: 10em; /* fix for min-width: auto */
	display: flex;
    
    select, input:not([type=submit]) {
        flex: 1; /* fluid width */
        display: block; /* IE fix */
        min-width: 0; /* fix for min-width: auto */
    }
	label {
		width: 5em;
		margin-right: .5em;
		text-align: right;
	}
	button[type="submit"] {
		margin-left: auto;
	}
}
form > fieldset{
    display: block;
	flex: 1;
	min-width: 0; /* fix for min-width: auto */
}

form > div {
	flex: 1;
	min-width: 0; /* fix for min-width: auto */
}

.form-group {
    display: flex;
    > div{
        flex: 1;
    }
}
