.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
      a{
        line-height: 0;
        margin: 0.25rem 0.25rem 0 0;
        img {
        border-radius: 0;
        border-color: black;
  border-style: solid;
  border-width: 0.25rem;
        }
        &:hover{
            transform: scale3d(1.02, 1.02, 1.02);
        }
    
    a {
        line-height: 0;
    }
  }
}
.gallery-view {
//  margin: 1rem;
  padding: 1rem;
  border-radius: 0;
  border-color: $logo-color;
  background: $base-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-header{
  background: $menu-background;
  padding: 0.5rem;
  border-radius: 0;
  display: flex;
  flex-direction: row;
//  justify-content: space-between;
    h1{
        flex: 50%;
        text-align: center;
    }
}
.gallery-date{
    flex: 50%;

  line-height: $heading-line-height;
  font-size: $base-font-size*1.2;
  font-weight: bold;
  text-align: center;

  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0;
  margin-bottom: 0.5em;
}


.gallery-article{
  @extend %article;
}

.gallery-footer{
  background: $menu-background;
  text-align: right;
  padding: 0.5rem;
  border-radius: 0;
}

@media (max-width: 767px) {
  .gallery-view {
  flex-basis: 100%;
  }

    .gallery-header{
  flex-direction: column;
//  justify-content: space-between;
        h1{
            text-align: center;
            flex: 100%;
        }
    }

    .gallery-date{
        flex: 100%;
    }

}
