@import "news-view";

.news {
    h1{
        text-align: center;
        display: block;
        margin: 0;
    }
  background: $menu-background;
  padding: 0.5rem 0;
  border-radius: 0;

}
.news-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news-item {
  flex-basis: 45%;
  padding: 5px;
  margin: 0.5rem;
  background: $menu-background;
  border-radius: 0;
  border-color: $logo-color;
  border-style: solid;
  border-width: 0.1rem;
  display: flex;

}
.news-item-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
      a {
        color: $base-font-color;
        text-decoration: none;
      }

}
.news-item-header{
}
.news-item-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img{
       padding: 0.5rem;
       img{
       width: 7rem;
       }
    }
    article{
        padding: 0.5rem;
    }
}
@import "site";
.news-item-footer{
    text-align: right;
      a {
        color: $action-color;
        text-decoration: underline;
@extend %buttonlink;
      }





}

@media (max-width: 767px) {
  .news-list {
    padding: 0;
  }
  .news-item {
  flex-basis: 100%;
  }

}

