
/*********************
RESPONSIVE BREAKPOINTS
**********************/
@mixin breakpoint($point) {
  @if $point == 1300 {
    @media (max-width: 1300px) { @content; }
  }
  @else if $point == 715 {
    @media (max-width: 715px) { @content; }
  }
}
/*********************
NAVIGATION STYLES
**********************/
nav {
  width:100%;
//  box-shadow:0px 2px 2px rgba(0,0,0,.35);
  
//  @include breakpoint(715) {
//    margin:65px 0 0 0;
//    max-height:0;
//    overflow:hidden;
//    transition: all 0.5s ease;
//  }
}

.nav-logo {
}

.nav-item {
    margin-right: 0.5rem;
}

.nav-menu li:first-child {
      margin-right: auto;
      width: 10em;

    img{
       width: 10em;
    }
    a{
      background: inherit;
      border-bottom: none;
      padding: 0 1rem;
      border: none;
    }
}

.nav-menu {

  background: $menu-background;
  padding: 0.1rem;
  border-radius: 0;

  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
}

.nav-item {
    a{
    @extend %buttonlink;
    color: $link-color;
    }
    span{
    @extend %buttonlink;
    color: $link-color;
    }
}
.nav-item.active a {
        color: $link-active;
}

@media (max-width: 767px) {
  .nav-menu {
    flex-flow: column;
    justify-content: space-between;
//    padding: 0;
    margin: 0;
  justify-content: flex-end;
  }
  .nav-item {
    margin-bottom: 0.5em;
    text-align: center;
    flex-basis: 100%;
  }

  .nav-item a {
      display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

