%article{
  border-radius: 0;
  border-color: $logo-color;
  border-style: solid;
  border-width: 0;
  p{
    margin: 0.5rem 1rem;  
    }
  ul{
    margin: 0.5rem 2rem 1rem;  
    }
}
%buttonlink{
  background: $base-background-color;
  border-radius: 5px;
  border: solid 1px;
  text-decoration: none;
  padding: 0.3rem 1rem;
  display: inline-block;
  margin: 0 ;
      &:hover,
      &:focus {
        color:$link-hover;
        transition: all 1s ease;
//        margin-top: -2px;
      }
}

header{
  background: $menu-background;
  padding: 0.1rem 0;
  border-radius: 0;
  display: flex;
  flex-direction: row;
    h1{
        flex: 50%;
        text-align: center;
    }
}

article{
    @extend %article;
  border-radius: 0;
}

footer{
//  background: $menu-background;
  text-align: right;
  width: auto;
 padding: 0.5rem 1rem;
  margin: 0rem 0rem;

  border-radius: 0;
  display: flex;
}

