// Typography
$base-font-family: mplus-medium, Helvetica,verdana,arial,tahoma,sans-serif;
$heading-font-family: mplus-bold, Helvetica,verdana,arial,tahoma,sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$logo-color: #04454A;
$blue: #1565c0;
$green: #065230;
$dark-green: darken($green,30%);
$light-green: lighten($green,30%);
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: #002023;
$action-color: $blue;

// Border
$base-border-color: $light-green;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: white;

$secondary-background-color: olive;

$border-shadow: inset 0 1px 3px rgba(#000, 0.06);

$box-shadow: 0 1rem 3rem rgba(#fff, 0.6);

//$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

/*********************
NAV VARIABLESV
**********************/
$link-color: #00878F;
$link-hover: #09BCC4;
$link-active: #09BCC4;
$link-vertical-padding:5px;      /*Controls Menu top & bottom padding*/
$link-horizontal-padding:25px;    /*Contols Menu left & right padding*/
$menu-background: $secondary-background-color;        /*Control Menu Color Scheme*/
