@import "variables";
@import "fonts";
@import "site";
//@import "form";
@import "nav";
@import "alert";
@import "breadcrumbs";
@import "tabs";
//@import "table";
@import "fileupload";
$navbar-nav-item-height:                         40px !default;
$table-cell-padding-vertical:                    4px !default;
$table-cell-padding-horizontal:                  6px !default;
@import "../uikit/scss/variables-theme.scss";
@import "../uikit/scss/mixins-theme.scss";
@mixin hook-card() { color: #000; }
@import "../uikit/scss/uikit-theme.scss";
@import "icon";
@import "ulkit";

.task-plan{
    border: solid 1px $alert-danger-color;
}

.task-done{
    border: solid 1px $alert-success-color;
}

.header {
  padding: 0.5rem;
  margin: 0;
  width: auto;
  border-radius: 0;
  list-style: none;
  text-align: center;
  display: block;
    marquee{
    color: darkred;
    }
}

.turbolinks-progress-bar {
   background-color: $logo-color;
}

*{
margin: 0;    
padding: 0;
}

body {
  /*background: #E0CBB8 url('../images/header-azov.jpg') repeat-y center;*/
  color: $base-font-color;
  font-family: $base-font-family;
  font-size:  $base-font-size;
  font-style: normal;
  margin: 0;
    max-width: 1200px;
    height: 100vh;

// Line height
line-height: $base-line-height;

a {
    color: $action-color;
    text-decoration: none;
  }
}
i, cite, em, var, address, dfn {
        font-style: normal;
        }

h1{
  line-height: $heading-line-height;
}

h1,h2,h3{
  line-height: 1.2;
  margin: 0;
  font-family: $heading-font-family;
}
h1{
    font-size: $base-font-size*1.2;
}
h2{
    font-size: $base-font-size*1.1;
}
h3{
    font-size: $base-font-size*1;
}

p, li{
  font-size:  $base-font-size;
  line-height: 1.2;
}

debug{
    border: 1px solid;
    border-radius: 0;
}

header, footer, main{
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    @extend .debug !optional;
}

main{
  min-height: 80vh;
  border-radius: 0;
  border-color: $logo-color;
  background: $base-background-color;
  padding: 1em;
}

footer{
font-family: mplus-light;
  width: 100%;
  padding: 0;
  width: auto;
  border-radius: 0;
        address{
  margin: 0.5rem 1rem;
          text-align: center;
        }
  background: $base-background-color;

}


article > article {
    @extend .debug !optional;
}

input, textarea, select, button{
  color: $base-font-color;
  font-family: $base-font-family;
  font-size:  $base-font-size;
}

.button {
  padding: 0.1em;
  text-decoration: none;
  display: inline-block;
  border: solid 1px;
  border-radius: 0;
  background: #B6E7E9;

  &:hover{
//    background: linear-gradient(to bottom, $color-complement-2, $color-complement-3);
  }
}



.btn{
  @extend .button;
}

a.reg{
  @extend .button;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}


