{% extends 'base.html.twig' %}

{% block title %}Breed index{% endblock %}

{% block body %}
    <h1>Breed index</h1>
   <a href="{{ path('breed_new') }}">Create new</a>
    <table class="uk-table">
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Length / Weight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for breed in breeds %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ breed.name }}</td>
                {#{ dump(breed.data) }#}
                <td>
                    <div class="uk-flex">
                    {% for key, value in breed.data %}
                    {% if ( loop.index0 > 0 ) %}
                           &nbsp/&nbsp
                        {% endif %}
                        <div class=""> {{ value }}</div> 
                    {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('breed_show', {'id': breed.id}) }}">show</a>
                    <a href="{{ path('breed_edit', {'id': breed.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 {% endblock %}
