{% extends 'base.html.twig' %}

{% block title %}Breed{% endblock %}

{% block body %}
    <h1>Breed</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ breed.name|e }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>
                    <ul>
                    {% for key, value in breed.data %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('breed_index') }}">back to list</a>

    <a href="{{ path('breed_edit', {'id': breed.id}) }}">edit</a>

    {{ include('breed/_delete_form.html.twig') }}
{% endblock %}
