{% extends 'base.html.twig' %}

{% block title %}Edit Animal{% endblock %}

{% block body %}
    <h1>Edit Animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Update', 'animal_id':  animal.id}) }}

    <a href="{{ path('animal_index') }}">back to list</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
{% block head_css %}
            {{ parent() }}
    {{ include('animal/_upload.css') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    {% include 'animal/_upload.js' with {'animal_id': animal.id } %}
{% endblock %}
