{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <h1>Animal index</h1>
            </li>
            <li>
                <form class="uk-form-small" method="get" action="{{ path('animal_index') }}">
                    <input type="text" 
                        class="uk-form-controls" 
                        placeholder="Search" 
                        name ="animalSearch[search]" 
                        value="{{ app.session.get('animalSearch').search|default(null) }}">
                    <input type="checkbox" 
                    class="uk-form-controls" 
                    name ="animalSearch[withLive]" 
                    value="1" 
                        {% if app.session.get('animalSearch').withLive|default(0) %}
                        checked
                        {% endif %}
                        ">
                    <button type="submit" class="uk-button uk-button-small">search</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
            <a href="{{ path('animal_new') }}" class="">Create new</a>
            </li>
        </ul>
    </div>
</div>

    <table class="uk-table uk-table-justify uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink">Image</th>
                <th>Name / Breed / Owner / Live</th>
                <th>Sum->To</th>
                <th>Tasks</th>
                <th class="uk-width-small">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>
                    {% if animal.avatar %}
                    <img src="{{ asset('images/thumbnail/' ~ animal.avatar.name) }}">
                    {% endif %}
                    {# <img src="{{ asset('images/thumbnail/' ~ animal.image)|imagine_filter('widen_index') }}"> #}
                </td>
                <td class="uk-table-shrink uk-width-medium">
                    <img class="uk-icon-image" src="/img/{{ animal.genderName }}.svg"> 
                    {{ animal.name }} 
                    {{ animal.breed.name }} / 
                    {%  if animal.owner %} 
                        {{ animal.owner.nameFirst }}  {{ animal.owner.nameLast|slice(0, 1) }} / 
                    {% endif %}
                    {{ animal.live ? animal.live.room.name ~ ' ' ~ animal.live.room.place.name }}
                           <a class="" href="#" >data</a>
                            <div uk-drop="mode: click">
                                <div class="uk-card uk-card-small uk-card-body uk-card-primary">
                                    {% for k,v in animal.data %}
                                        {{ k }}: {{ v }}
                                    {% endfor %}
                                </div>
                            </div>
                </td>
                <td class="uk-table-expand">
                    {% for payment in animal.payments %}
                        {% if animal.payments|length > 1 and loop.index == 2 %}
                           <a class="" href="#" >more ({{ animal.payments|length-1 }})</a>
                            <div uk-drop="mode: click">
                                <div class="uk-card uk-card-small uk-card-body uk-card-primary">
                        {% endif %}
                                <a href="{{ path('payment_edit', {'id': payment.id}) }}" class="uk-link-text uk-display-block" target="_blank">
                                    {{payment.amount}}->{{payment.dateTo|date('d.m.Y')}}
                                    </a>
                        {% if animal.payments|length > 1 and loop.last %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for task in animal.tasks %}
                        {% if animal.tasks|length > 1 and loop.index == 2 %}
                           <a class="" href="#" >more ({{ animal.tasks|length-1 }})</a>
                              <div uk-drop="mode: click">
                                <div class="uk-card uk-card-small uk-card-body uk-card-primary">
                        {% endif %}
                                <a href="{{ path('task_edit', {'id': task.id}) }}" class="uk-link-text uk-display-block" target="_blank">
                                    <div class="task-{{task.statusString}}">{{task.date|date('d.m.Y')}}: {{task.name}}: {{task.content}}</div>
                                </a>
                        {% if animal.tasks|length > 1 and loop.last %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    
                </td>
                <td>
                    <div>
                    <a href="{{ path('animal_show', {'id': animal.id}) }}" class="">show</a>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}" class="">edit</a>
                    </div><div>
                        add:
                    <a href="{{ path('animal_task_add', {'id': animal.id}) }}" class="">task</a> 
                    <a href="{{ path('animal_payment_add', {'id': animal.id}) }}" class="uk-link">pay</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block head_css %}
            {{ parent() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
