{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
    <h1>Create new Animal</h1>

    {{ include('animal/_form.html.twig') }}

    <a href="{{ path('animal_index') }}">back to list</a>
{% endblock %}
{% block head_css %}
            {{ parent() }}
    {{ include('animal/_upload.css') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    {% if animal.id %}
    {% include 'animal/_upload.js' with {'animal_id': animal.id } %}
    {% endif %}
{% endblock %}
