{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>
    {{dump(animal.live.room.name)}}
    {{dump(animal.live.room.place.name)}}
    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td>
                    {% if animal.avatar %}
                    <img src="{{ asset('images/' ~ animal.avatar.name)|imagine_filter('widen_show')  }}">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ animal.name }}</td>
            </tr>
        </tbody>
    </table>
    {% if animal.images is not empty %}
    <div class="uk-h3">Images</div>
        <div class="uk-flex uk-flex-center uk-flex-wrap-stretch" uk-lightbox="animation: slide" uk-grid>   
        {% for image in animal.images %}
            <div class="uk-card uk-card-default">
                <a class="uk-margin" href="{{ asset('images/' ~ image.name)|imagine_filter('gallery')}}" data-caption="Caption 1">
                    <img data-src="{{ asset('images/thumbnail/' ~ image.name) }}" alt="" uk-img>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if animal.documents is not empty %}
    <div class="uk-h3">Documents</div>
        <div class="uk-flex uk-flex-center uk-flex-wrap-stretch" uk-lightbox="animation: slide" uk-grid>   
        {% for image in animal.documents %}
            <div class="uk-card uk-card-default">
                <a class="uk-margin" href="{{ asset('images/' ~ image.name)|imagine_filter('gallery')}}" data-caption="Caption 1">
                    <img data-src="{{ asset('images/thumbnail/' ~ image.name) }}" alt="" uk-img>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <a href="{{ path('animal_index') }}">back to list</a>

    <a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
