{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}

{{ include('room/schemaLive.html.twig', {'places': places}) }}

<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <h1>Room index</h1>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
            <a href="{{ path('room_new') }}" class="uk-button uk-button-primary">Create new</a>
            </li>
        </ul>
    </div>
</div>
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th>№</th>
                <th>Place</th>
                <th>Name</th>
                <th>Width/Length</th>
                <th>Animals</th>
                <th class="uk-width-small">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ room.place.name }}</td>
                <td>{{ room.name }}</td>
                <td>
                    <div class="uk-flex">
                        {{ room.data.width }} / {{ room.data.length }}
                    </div>
                </td>
                <td>
                    <div class="uk-flex">
                    {% for live in room.lives %}
                    {% if ( loop.index0 > 0 ) %}
                           ,&nbsp
                        {% endif %}
                        <div class=""> {{ live.animal.name }}</div> 
                    {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
