{# empty Twig template #}


{% set x = 50 %}
{% set kx = 0 %}
{% set ky = 0 %}
{% set aw = 6.5 %}
{% set ah = 7 %}
{% set w = 5 %}
{% set pos = {
    'pos-1-1': '4',
    'pos-1-2': '3',
    'pos-1-3': '2',
    'pos-1-4': '1',
    'pos-2-1': '8',
    'pos-2-2': '7',
    'pos-2-3': '6',
    'pos-2-4': '5',
    } 
%}

{% for room in places.0.rooms %}
    {% for n,p in pos %}
        {% if p == room.name %}
        {% set pos = pos|merge({(n):room}) %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% for p, v in pos %}
    {% set pp = p|split('-') %}
    {#{ dump(pp) }#}
{% endfor %}

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="{{aw*x}}" height="{{ah*x}}">
    <rect x="0" y="0" width="{{aw*x}}" height="{{ah*x}}" 
          stroke="#b4241b" stroke-width="1" fill="#ffff00" />
    {% for p, room in pos %}
    {% set pp = p|split('-') %}
    {% if p == 'pos-2-1' %}
        {% set ky = 0 %}
    {% endif %}
    {% if pp.1 == 2 %}
        {% set kx = aw*x-room.data.width*x %}
    {% endif %}
    <rect x="{{kx}}" y="{{ky}}" 
        width="{{ room.data.width*x }}" height="{{ room.data.length*x }}"
        stroke="#b4241b" stroke-width="1" fill="#ffff00" />
 {% set strY = ky + 10 %}
    <text x="{{kx+5}}" y="{{ strY }}" font-size="10">{{room.name}}
        </text>
        
    {% for live in room.lives %}
        {% if live.status != 1 %}
            {% set strY = strY + 10 %}
            <text x="{{kx+5}}" y="{{ strY }}" font-size="10">
            {{ live.animal.name }}  
            </text>
        {% endif %}
    {% endfor %}
    </text>
{#% set kx = kx+room.data.width*x %#}
{% set ky = ky+room.data.length*x %}
    {% endfor %}
</svg>
{% set kx = 0 %}
{% set ky = 0 %}
{% set pos = {
    'pos-1-1': '3',
    'pos-1-2': '2',
    'pos-1-3': '1',
    'pos-2-1': '6',
    'pos-2-2': '5',
    'pos-2-3': '4'
    } 
%}
{% for room in places.1.rooms %}
    {% for n,p in pos %}
        {% if p == room.name %}
        {% set pos = pos|merge({(n):room}) %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% for p, v in pos %}
    {% set pp = p|split('-') %}
    {#{ dump(pp) }#}
{% endfor %}
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="{{aw*x}}" height="{{ah*x}}">
    <rect x="0" y="0" width="{{aw*x}}" height="{{ah*x}}" 
          stroke="#b4241b" stroke-width="1" fill="#ffff00" />
    {% for p, room in pos %}
    {% set pp = p|split('-') %}
    {% if p == 'pos-2-1' %}
        {% set ky = 0 %}
    {% endif %}
    {% if pp.1 == 2 %}
        {% set kx = aw*x-room.data.width*x %}
    {% endif %}
    <rect x="{{kx}}" y="{{ky}}" 
        width="{{ room.data.width*x }}" height="{{ room.data.length*x }}"
        stroke="#b4241b" stroke-width="1" fill="#ffff00" />
    
    {% set strY = ky + 10 %}
    <text x="{{kx+5}}" y="{{ strY }}" font-size="10">{{room.name}}
        </text>
    {% for live in room.lives %}
        {% if live.status != 1 %}
            {% set strY = strY + 10 %}
            <text x="{{kx+5}}" y="{{ strY }}" font-size="10">
            {{ live.animal.name }}            
            </text>
        {% endif %}
    {% endfor %}
    
{#% set kx = kx+room.data.width*x %#}
{% set ky = ky+room.data.length*x %}
    {% endfor %}
</svg>

