{{ form_start(form) }}
    <div class="uk-flex">
    {{ form_help(form.name) }}
    {{ form_widget(form.name, {attr: {placeholder: "Name"}}) }}
    {{ form_errors(form.name) }}
    {{ form_help(form.content) }}
    {{ form_widget(form.content, {attr: {placeholder: "Content"}}) }}
    {{ form_errors(form.content) }}
    </div>
    <div class="uk-flex">
    {{ form_row(form.date) }}
    {{ form_row(form.time) }}
    {{ form_row(form.status, {attr: {class:''}}) }}
    </div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
