{% extends 'base.html.twig' %}
{% block title %}New Task{% endblock %}
{% block body %}
{% apply spaceless %}
<h1>Create new Task</h1>
<div>for {{ animal ? animal.name }} {{ person ? person.nameFirst ~ ' ' ~ person.nameLast|first }}</div>
{{ include('task/_form.html.twig') }}

    <a href="{{ path('task_index') }}">back to list</a>
{% endapply %}
{% endblock %}

