{% extends 'base.html.twig' %}

{% block title %}Edit ContactType{% endblock %}

{% block body %}
    <h1>Edit ContactType</h1>

    {{ include('contact_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contacttype_index') }}">back to list</a>

    {{ include('contact_type/_delete_form.html.twig') }}
{% endblock %}
