{% extends 'base.html.twig' %}

{% block title %}ContactType index{% endblock %}

{% block body %}
    <h1>ContactType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Required</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_type in contact_types %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ contact_type.name }}</td>
                <td>{{ contact_type.required ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('contacttype_show', {'id': contact_type.id}) }}">show</a>
                    <a href="{{ path('contacttype_edit', {'id': contact_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contacttype_new') }}">Create new</a>
{% endblock %}
