{% extends 'base.html.twig' %}

{% block title %}New ContactType{% endblock %}

{% block body %}
    <h1>Create new ContactType</h1>

    {{ include('contact_type/_form.html.twig') }}

    <a href="{{ path('contacttype_index') }}">back to list</a>
{% endblock %}
