{% extends 'base.html.twig' %}

{% block title %}ContactType{% endblock %}

{% block body %}
    <h1>ContactType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contact_type.name }}</td>
            </tr>
            <tr>
                <th>Required</th>
                <td>{{ contact_type.required ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contacttype_index') }}">back to list</a>

    <a href="{{ path('contacttype_edit', {'id': contact_type.id}) }}">edit</a>

    {{ include('contact_type/_delete_form.html.twig') }}
{% endblock %}
