{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block body %}
 <div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <h1>Place index</h1>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
            <a href="{{ path('place_new') }}" class="uk-button uk-button-primary">Create new</a>
            </li>
        </ul>
    </div>
</div>
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ place.name }}</td>
                <td>
                    <a href="{{ path('place_show', {'id': place.id}) }}">show</a>
                    <a href="{{ path('place_edit', {'id': place.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
