            <div class="uk-flex">
                {{ form_widget(contact.type) }}
                <div>
                    <input value="{{ contact.value.vars.value }}">
                </div>
            </div>

