{{ form_start(form) }}
<div class="uk-flex">
    {{ form_row(form.nameLast) }}
    {{ form_row(form.nameFirst) }}
    {{ form_row(form.nameMiddle) }}
</div>
     <div id="person_contacts"  data-prototype="{{ form_row(form.contacts.vars.prototype)|e('html_attr') }}">
        {% for contact in form.contacts %}
            {{ form_row(contact) }}
        {% endfor %}
    </div>

    <button class="uk-button uk-button-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script>
var $collectionHolder;

// setup an "add a contact" link
var $addTagButton = $('<button type="button" class="add_contact_link uk-align-center uk-button uk-button-primary uk-button-small">Add a contact</button>');
var $newLinkLi = $('<div class=""></div>').append($addTagButton);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of contacts
    $collectionHolder = $('div#person_contacts');

    // add the "add a contact" anchor and li to the contacts ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find('input').length);

    $addTagButton.on('click', function(e) {
        // add a new contact form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });
var index = 0;
    $collectionHolder.find('div.contact-row').each(function() {
//        if (index++ > 0){
        addTagFormDeleteLink($(this));
//        }
console.log(index);
    });

});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your tags field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $(newForm);
    $newLinkLi.before($newFormLi);
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    console.log($tagFormLi);
    var $removeFormButton = $('<button type="button" class="uk-button uk-button-danger uk-button-small">Delete</button>');
    $($tagFormLi).append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

</script>
