{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    <h1>Edit Person</h1>

    {{ include('person/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="uk-align-center">
    <a href="{{ path('person_index') }}" class="uk-align-center">back to list</a>
    </div>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
