{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Person index</h1>

    <table class="uk-table uk-table-divider ">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Contacts</th>
                <th>Sub Contacts</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ person.name }}</td>
                <td>
                    {% for contact in person.contacts %}
                    <div>
                        <span class="uk-margin-small-left" uk-icon="icon: {{ contact.type.name }}"></span> 
                    <span>{{ contact.value }}</span>
                    </div>
                    {% endfor %}
                </td>
                <td>
                    {% for person in person.persons %}
                        {{ person.name }}
                        {% for contact in person.contacts %}
                        <div>
                        <span class=uk-margin-small-left" uk-icon="icon: {{ contact.type.name }}"></span>                         <span>{{ contact.value }}</span>
                        </div>
                        {% endfor %}
                    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                    {% endfor %}
                    <a href="#{{ path('person_sub_new', {'id': person.id}) }}"><s>add sub</s></a>
                </td>
                <td>
                    <a href="{{ path('person_show', {'id': person.id}) }}">show</a>
                    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                    <a href="{{ path('person_add_dog', {'id': person.id}) }}">add dog</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('person_new') }}">Create new</a>
{% endblock %}
