{% extends 'base.html.twig' %}
{% if (app.request.get('_route') == 'person_sub_new') %}
{% set title = 'Add contact Person' %}
{% else %}
{% set title = 'New Person' %}
{% endif %}
{% block title %}
{{title}}
{% endblock %}

{% block body %}
    <h1>{{title}}</h1>

    {{ include('person/_form.html.twig') }}

    <a href="{{ path('person_index') }}" class="uk-align-center">back to list</a>
{% endblock %}
