{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    <table class="uk-table uk-table-divider ">
        <tbody>
            <tr>
                <th>Name</th>
                 <td>
                 {{ person.nameFirst }}&nbsp{{ person.nameLast }} {{ person.nameMiddle }}
                 </td>
            </tr>
            <tr>
                <th>Contacts</th>
                <td>
                    {% for contact in person.contacts %}
                    <div>
                        <span class="class="uk-margin-small-left" uk-icon="icon: {{ contact.type.name }}"></span> 
                        <span>{{ contact.value }}</span>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>add Persons</th>
                <td>
                    {% for person in person.persons %}
                    <div>
                 {{ person.nameFirst }}&nbsp{{ person.nameLast }} {{ person.nameMiddle }}
                    </div>
                    {% for contact in person.contacts %}
                    <div>
                        <span class="class="uk-margin-small-left" uk-icon="icon: {{ contact.type.name }}"></span> 
                        <span>{{ contact.value }}</span>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Dogs</th>
                <td>
                    {% for animal in person.animals %}
                    <div>
                        {{ animal.name }}
                    </div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('person_index') }}">back to list</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
