{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
{% block head_css %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block head_js %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/uikit.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/uikit-icons.min.js" charset="UTF-8"></script>
{% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <nav>
            <ul class="nav-menu">
                {% for menu, route_path in 
                    { 
                    'Main': 'main_index', 'Animal': 'animal_index', 
                    'Payment': 'payment_index', 
                    'Person': 'person_index', 
                    'Lives': 'live_index',
                    } 
                %}
                    <li class="nav-item{{route == route_path ? ' active' }}">
                        <a href="{{ path(route_path ) }}">{{menu}}</a>
                    </li>
                {% endfor %} 
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="uk-nav"><a href="" uk-icon="icon: chevron-down"></a></li>
                        <div uk-dropdown>
                            <ul class="uk-nav uk-dropdown-nav">
                                {% for menu, route_path in 
                                    { 
                                    'Users': 'user_index',
                                    'Contact type': 'contacttype_index',
                                    'Breed': 'breed_index',
                                    'Places': 'place_index',
                                    'Rooms': 'room_index',
                                    } 
                                %}
                                    <li class="uk-nav-item{{route == route_path ? ' active' }}">
                                        <a href="{{ path(route_path ) }}">{{menu}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="uk-nav">
                            {{ app.user.email }}
                        </li>
                        <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                        </div>
                    {% else %}
                        <a href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
    </footer>
        {% block javascripts %}
            {#{ encore_entry_script_tags('app') }#}
        {% endblock %}
    </body>
</html>
