{% extends "form_div_layout.html.twig" %}

{% block _person_contacts_entry_row %}
    <div class="uk-flex contact-row">
    {{ form_row(form.type) }} 
    {{ form_row(form.value) }} 
    </div>
{% endblock %}

{% block _person_contacts_entry_type_row %}
                <div>
                {{ form_widget(form) }}
                </div>
{% endblock %}

{% block _person_contacts_entry_value_row %}
                <div>
                {{- block('form_widget_simple') -}}
                </div>
{% endblock %}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{% block radio_widget %}
     {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-radio')|trim}) %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget -%}

{%- block form_start -%}
     {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form uk-form-stacked')|trim}) %}
     {{- parent() -}}
{%- endblock form_start -%}

{%- block form_row -%}
     {% set row_attr = attr|merge({class: (attr.class|default('') ~ ' ')|trim}) %}
     {{- parent() -}}
{%- endblock form_row -%}

{%- block textarea_widget -%}
     {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-textarea')|trim}) %}
     {% set attr = attr|merge({rows: '5'}) %}
     {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block form_label -%}
     {% set label_attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-label')|trim}) %}
     {{- parent() -}}
{%- endblock form_label -%}

{%- block form_widget -%}
    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        <div class="uk-form-controls ">
        {{- block('form_widget_simple') -}}
        </div>
    {% endif %}
{%- endblock form_widget -%}

{%- block date_widget -%}
     {% set widget_attr = attr|merge({class: (attr.class|default('') ~ ' uk-row ')|trim}) %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-input uk-form-width-medium')|trim}) %}
     {{- parent() -}}
{%- endblock date_widget -%}

{%- block time_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-inputi uk-form-width-small')|trim}) %}
     {{- parent() -}}
{%- endblock time_widget -%}

{%- block form_widget_simple -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-input')|trim}) %}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-select')|trim}) %}
    <div class="uk-form-controls">
     {{- parent() -}}
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button')|trim}) %}
     {{- parent() -}}
{%- endblock button_widget -%}

{%- block form_widget_compound -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-margin')|trim}) %}
     {{- parent() -}}
{%- endblock form_widget_compound -%}

{% block file_widget -%}
    <{{ element|default('div') }} uk-form-custom="target: true"> 
        {%- set type = type|default('file') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
    </{{ element|default('div') }}>
{% endblock %}

{% block submit_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' uk-margin')|trim})} %}{{ block('attributes') }}{% endwith %}>{#--#}
            {{- form_widget(form) -}}
    </div>
{%- endblock submit_row %}
