{{ form_start(form) }}
    <div class="uk-flex">
    
    </div>
    <div class="uk-flex">
    {{ form_row(form.animal) }}
    {{ form_row(form.date) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.dateFrom) }}
    {{ form_row(form.dateTo) }}
    </div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
