{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
        
<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <h1>Payment</h1>
            </li>
            <li>
                <form class="uk-form-small" method="get" action="{{ path('payment_index') }}">
                    <input type="text" class="uk-form-controls" placeholder="Search" name ="paymentSearch" value="{{ app.session.get('paymentSearch') }}">
                    <input type="date" class="uk-form-controls" placeholder="Date From" name ="PaymentDateFrom" value="{{ app.session.get('PaymentDateFrom') ?? "now"|date('Y-m-d')}}">
                    <input type="date" class="uk-form-controls" placeholder="Date To" name ="PaymentDateTo" value="{{ app.session.get('PaymentDateTo') ?? "now"|date('Y-m-d') }}">
                    <button type="submit" class="uk-button uk-button-small">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
            <a href="{{ path('payment_new') }}" class="uk-button uk-button-primary uk-button-small">Create new</a>
            </li>
        </ul>
    </div>
</div>    

    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
                <th>Owner: Animal</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Date From : To</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% set sum = 0 %}
        {% for payment in payments %}
            <tr>
                <td>{{ payment.animal.owner.nameFirst }}: {{ payment.animal.name}}</td>
                <td>{{ payment.amount }}</td>{% set sum = sum + payment.amount  %}
                <td>{{ payment.date ? payment.date|date('d-m-Y') : '' }} </td>
                <td>{{ payment.dateFrom ? payment.dateFrom|date('d-m-y') : '' }} :
                {{ payment.dateTo ? payment.dateTo|date('d-m-y') : '' }}</td>

                <td>
                    <a href="{{ path('payment_next_pay', {'id': payment.id}) }}">next</a>
                    <a href="{{ path('payment_edit', {'id': payment.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
                <tr class="uk-active">
                <td></td>
                <td class="uk-label">{{ sum }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    
{% endblock %}
