{% extends 'base.html.twig' %}
{% block title %}New Task{% endblock %}
{% block body %}
{% apply spaceless %}
<h1>Create new Payment</h1>
{% if null != animal %}
<div>for {{ animal ? animal.name }} from {{ person ? person.nameFirst ~ ' ' ~ person.nameLast}}</div>
{% endif %}
{{ include('payment/_form.html.twig') }}

    <a href="{{ path('animal_index') }}">back to list</a>
{% endapply %}
{% endblock %}

