{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <h1>Payment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>DateFrom</th>
                <td>{{ payment.dateFrom ? payment.dateFrom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateTo</th>
                <td>{{ payment.dateTo ? payment.dateTo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payment.Amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ payment.date ? payment.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payment_index') }}">back to list</a>

    <a href="{{ path('payment_edit', {'id': payment.id}) }}">edit</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
