{% extends 'base.html.twig' %}

{% block title %}Cost{% endblock %}

{% block body %}
<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <h1>Cost</h1>
            </li>
            <li>
                <form class="uk-form-small" method="get" action="{{ path('live_cost') }}">
                    <input type="text" class="uk-form-controls" placeholder="Search" name ="costSearch" value="{{ app.session.get('costSearch') }}">
                    <input type="date" class="uk-form-controls" placeholder="Date From" name ="costSearchFrom" value="{{ app.session.get('costSearchFrom') ?? "now"|date('Y-m-d')}}">
                    <input type="date" class="uk-form-controls" placeholder="Date To" name ="costSearchTo" value="{{ app.session.get('costSearchTo') ?? "now"|date('Y-m-d') }}">
                    <button type="submit" class="uk-button uk-button-small">Search</button>
                </form>
            </li>
        </ul>
    </div>
</div>
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-text-right">Animal</th>
                <th class="uk-text-center">DateBegin-DateEnd</th>
                <th class="uk-text-right">Duration</th>
                <th class="uk-text-right">Price</th>
                <th class="uk-text-right">dayPrice</th>
                <th class="uk-text-right">Cost</th>
                            </tr>
        </thead>
        <tbody>
        {% for live in lives %}
            <tr>
                <td class="uk-text-right">{{ live.name }}</td>
                <td class="uk-text-center">{{ live.periodbegin ? live.periodbegin|date('d.m') : '' }} -
                    {{ live.periodend? live.periodend|date('d.m') : '' }}</td>
                <td class="uk-text-right">{{ live.duration }}</td>
                <td class="uk-text-right">{{ live.price }}</td>
                <td class="uk-text-right">{{ live.dayprice|round(0)}}</td>
                <td class="uk-text-right">{{ live.cost|round(0)}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="5"></td>
                <td class="uk-text-right">{{ sumCost|round(0) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
