{% extends 'base.html.twig' %}

{% block title %}Live index{% endblock %}

{% block body %}
    
{{ include('room/schemaLive.html.twig', {'places': places}) }}

<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <h1>Live index</h1>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
            <a href="{{ path('live_new') }}" class="uk-button uk-button-primary">Create new</a>
            </li>
        </ul>
    </div>
</div>
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateBegin</th>
                <th>DateEnd</th>
                <th>Status</th>
                <th>Animal</th>
                <th>Price</th>
                <th>Room</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for live in lives %}
            <tr>
                <td>{{ live.id }}</td>
                <td>{{ live.dateBegin ? live.dateBegin|date('Y-m-d') : '' }}</td>
                <td>{{ live.dateEnd ? live.dateEnd|date('Y-m-d') : '' }}</td>
                <td>{{ live.statusName }}</td>
                <td>{{ live.animal.name }}</td>
                <td>{{ live.price }}</td>
                <td>{{ live.room.name }} {{ live.room.place.name }}</td>
                    
                <td>
                    <a href="{{ path('live_show', {'id': live.id}) }}">show</a>
                    <a href="{{ path('live_edit', {'id': live.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
