{% extends 'base.html.twig' %}

{% block title %}Live{% endblock %}

{% block body %}
    <h1>Live</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ live.id }}</td>
            </tr>
            <tr>
                <th>DateBegin</th>
                <td>{{ live.dateBegin ? live.dateBegin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ live.dateEnd ? live.dateEnd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ live.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('live_index') }}">back to list</a>

    <a href="{{ path('live_edit', {'id': live.id}) }}">edit</a>

    {{ include('live/_delete_form.html.twig') }}
{% endblock %}
